:root {
  /* general colors and fonts */
  --font: Inter;
  --body-background: #fff7ed;
  --font-color-grey: #4d4d4d;
  --color-white: #ffffff;
  --color-black: #161616;
  --color-flesh: #ffead0;
  --about-explore-bg: #ffcc8d;

  /* button background colors */
  --btn-background-orange: #ff8c38;
  --btn-background-simple: #e17654;
  --btn-background-rugged: #115e59;
  --btn-background-luxury: var(--color-black); /* reusing dark for luxury */

  /* border radius */
  --radius-sm: 5px;
  --radius-md: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font family in the body for now cause as far as I can see all fonts are the same */
body {
  font-family: var(--font);
  background-color: var(--body-background);
  overflow-x: auto;
}

body::-webkit-scrollbar {
  display: none;
}

.navbar-flex {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 35px 26px;
  list-style-type: none;
}

.navbar-flex li:first-child {
  /* the auto here consumes all space to the right pushing 
  any other element to the right of the parent element */
  margin-right: auto;
}

.navbar-flex li .first-child {
  font-weight: 900;
  font-size: 1.58rem;
  text-transform: uppercase;
  line-height: 40.27px;
  color: #000000;
}

.navbar-flex a {
  text-decoration: none;
  font-weight: 600;
  line-height: 22.92px;
  color: var(--font-color-grey);
}

.navbar-flex a:hover {
  text-decoration: underline;
}

/* //////////////////////////HOME PAGE////////////////////// */
.home {
  background-image: url("./home.png");
  background-size: cover;
  background-color: #00000075;
  background-blend-mode: darken;
  min-height: 100dvh;
  padding: 64px 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home-title {
  font-weight: 800;
  color: var(--color-white);
  font-size: 2.25rem;
  line-height: 42px;
}
.home-subtitle {
  font-weight: 500;
  color: var(--color-white);
  line-height: 24px;
  margin: 23px 0 52px 0;
}

.home-link-btn {
  color: var(--color-white);
  width: 100%;
  margin: 0 auto;
  font-weight: 700;
  font-size: 0.99rem;
  line-height: 32px;
  border: none;
  border-radius: var(--radius-sm);
  background-color: var(--btn-background-orange);
  padding: 10px 20px;
}

@media (min-width: 768px) {
  .home-link-btn {
    max-width: 400px;
  }
}

/* //////////////////////////ABOUT PAGE////////////////////// */
.about-body {
  padding: 49px 27px;
}

.about > img {
  object-fit: cover;
  width: 548px;
  height: 233px;
  margin: 0 auto;
  display: block;
}

.about-title {
  font-size: 2rem;
  line-height: 32px;
  color: var(--color-black);
}
.about-description {
  font-weight: 500;
  margin: 31px 0 55px 0;
}

.about-explore {
  background-color: var(--about-explore-bg);
  padding: 32px 37px;
  border-radius: var(--radius-sm);
}
.about-explore-title {
  color: var(--color-black);
}
.about-explore a {
  margin-top: 25px;
  background-color: var(--color-black);
  color: var(--color-white);
  font-weight: 700;
  font-size: 0.99rem;
  line-height: 24px;
  padding: 12px 22px;
  border-radius: var(--radius-md);
  border: none;
}

/* //////////////// Vans page //////////////// */

.vans {
  padding: 55px 27px;
}

.vans-filters {
  display: flex;
  justify-content: space-evenly;
  gap: 5px;
  margin: 22px 0 55px 0;
  flex-wrap: wrap;
}

.filter-btn,
.clear-btn {
  color: var(--font-color-grey);
  padding: 7px 26px;
  font-size: 1rem;
  line-height: 24px;
  cursor: pointer;
}

.filter-btn {
  background-color: var(--color-flesh);
  border: none;
  border-radius: var(--radius-sm);
}

.clear-btn {
  background: none;
  border: none;
  text-decoration: underline;
  display: flex;
  align-items: center;   
  gap: 8px;   
}
.vans-body {
  display: grid;
  grid-template-columns: 1fr;
  gap: 33px;
  justify-items: center;
  margin-bottom: 20px;
}

.vans-body a {
  text-decoration: none;
}
@media (min-width: 768px) {
  .vans-body {
    grid-template-columns: repeat(2, 1fr);
    gap: 55px;
    overflow: hidden;
  }

  .vans-filters {
    justify-content: flex-start;
    gap: 20px;
  }
}
@media (min-width: 1024px) {
  .vans-body {
    grid-template-columns: repeat(3, 1fr);
  }
}
/*/////////////// vans grid item ////////////*/
.vans-grid-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  gap: 10px;
}

.van-img {
  grid-column: span 2;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: var(--radius-sm);
}

.van-name {
  justify-self: start;
  display: inline-block;
  max-width: 100%;
  white-space: wrap;
}

.van-name,
.van-price {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--color-black);
}
.van-price {
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.price-unit {
  font-weight: 500;
  font-size: 0.875rem;
  text-align: left;
  line-height: 1;
}

.van-type {
  font-weight: 600;
  font-size: 1rem;
  line-height: 32px;
  max-width: fit-content;
  padding: 3px 14px;
  border-radius: var(--radius-sm);
  color: var(--color-flesh);
  text-transform: capitalize;
}
.van-type.simple {
  background-color: var(--btn-background-simple);
}
.van-type.rugged {
  background-color: var(--btn-background-rugged);
}
.van-type.luxury {
  background-color: var(--btn-background-luxury);
}

@media (min-width: 768px) {
  .vans-grid-item {
    max-width: 400px;
  }
}

/* //////////////////////////VAN DETAIL PAGE////////////////////// */

.van-detail {
  padding: 55px 27px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.van-detail-img {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: var(--radius-sm);
  margin-bottom: 40px; /* 50px in the design but already have 10px from the gap */
}

@media (min-width: 768px) {
  .van-detail-img {
    margin: auto;
  }
}

.van-description {
  font-weight: 500;
  margin-bottom: 11px;
}

.link-btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.hover-effect {
  transition: transform 0.1s ease-in-out;
}

.hover-effect:hover {
  transform: scale(1.05);
}

.click-effect {
  transition: transform 0.1s ease-in;
}
.click-effect:active {
  transform: translate(0, 5px);
}

footer {
  background-color: rgba(37, 37, 37, 1);
  padding: 25px 106px;
  color: #aaaaaa;
  font-weight: 500;
  text-align: center;
}

.spinner {
  width: 50px;
  margin: 40px auto;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid var(--color-flesh);
  border-right-color: var(--btn-background-orange);
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
